NODE_ENV=development
API_NAME=server-api
APP_API_VERSION=v1

APP_SECRET_KEY=
APP_SECRET_KEY_REFRESH=
APP_PUBLIC_KEY=

MONGODB_DATABASE=server
MONGODB_HOST=
MONGODB_PASS=
MONGODB_USER=
MONGODB_PORT=27017

REDIS_HOST=r
REDIS_PORT=6379
REDIS_SYSTEM_KEY=

PORT=8000
