NODE_ENV=development
API_NAME=server-api
APP_API_VERSION=v1

APP_SECRET_KEY=
APP_SECRET_KEY_REFRESH=
APP_PUBLIC_KEY=

MONGODB_DATABASE=server
MONGODB_HOST=mongodb_server
MONGODB_PASS=
MONGODB_USER=
MONGODB_PORT=27017

REDIS_HOST=redis_server
REDIS_PORT=6379
REDIS_SYSTEM_KEY=app_server_api

PORT=8000
